
main{
    background-color: #F27777;
    box-sizing: flex;
    font-family: Arial, sans-serif;
}

.navbar{
    background-color: #4C2C59;
}

ul a{
    text-decoration: none;
}

footer, header{
    background-color: #2E2140;
}
.log1{
    height: 500x;
    width: 300px;
}
.log2{
    height: 300px;
    width: 300px;
}
.log3{
    height: 300px;
    width: 300px;
}
.log4{
    height: 300px;
    width: 300px;
}
.sec2{
    display: flex;
}