body {
    font-size: 16px;
}

.logo{
    margin: 0;
    position: absolute; 
    top: 10px; 
    left: 12%; 
    transform: translateX(-50%); 
    z-index: 1;
}

.navbar {
    padding: 3% 2% 1% 14%;
}
.navbar a{
    text-decoration:none;
}

nav, header {
    background-color: #3E1379;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar .dropdown-menu {
    background-color:#4f3475;
}

.dropdown-item {
    color:white;
}
nav button {
    background-color: #EA0680;
}

.navbar-nav .nav-item:hover .nav-link {
    color:#ECD235;
    font-size: 1.05rem;
}

.navbar-nav .nav-item:active .nav-link {
    color:#EA0680;
    font-size: 1.05rem;
}

.icon {
    min-width: 190px;
    margin: 0;
}

.icon a {
    color: #ffffff;
    padding-top: 2%;
    padding-left: 5%;
}

.icon a:hover {
    color:#ECD235;
}

.icon a:active {
    color:#EA0680;
}

main{
    padding-top: 4%;
    padding-bottom: 5px;
    background: linear-gradient(180deg, rgba(236,210,53,0.6839985994397759) 0%, rgba(255,255,255,1) 49%, rgba(236,210,53,0.8212535014005602) 100%);
}

.hot-news {
    margin-left: 15%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.hot-news a {
    font-style: none;
    text-decoration: none;
}

.destaques {
    margin-left: 2%;
    margin-top: 2%;
    gap: 5%
}

.cards-news {
    margin-left: 15%;
    margin-right: 10%;
}

.card-title {
    color:#EA0680;
}

.card-text {
    margin: 5px;
    color:#ffffff;
}

.cards-news a {
    font-style: none;
    text-decoration: none;
}

.card {
    background-color:#3E1379;
}

.pagination {
    margin-right: 8%;
}

ul.links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  ul.links li {
    margin-right: 15px; 
  }
  
  ul.termos {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-style {
    background-color: #EA0680;
    bottom: 0;
    width: 100%;
  }
  
  .footer-style a {
    color: #fdfdfd;
  }
  
  .footer-style a:hover {
    color: #ECD235;
    font-size: 1.05rem;
  }
  
  .footer-style a:active {
    color: #3E1379;
  }
  
  .links {
    margin: 10px 0;
  }
  
  .termos {
    margin: 10px 0;
  }
  

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}
